.container {
    position: absolute;
    z-index: 1;
}

.containerSearchField {
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 7px;
    background: rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: stretch;
}
.containerSearchField:hover,
.containerSearchField:focus,
.containerOtherSearchOptions:hover,
.containerOtherSearchOptions:focus,
.containerPredefind:hover,
.containerPredefind:focus,
.containerOtherSearchOptions:hover,
.containerOtherSearchOptions:focus,
.containerDateSelection:hover,
.containerPredefinedDateSelection:hover
{
    background: rgb(215, 215, 215);
}
.containerOtherSearchOptions {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: rgba(255, 255, 255, 1);
}

.containerPredefind {
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: rgba(255, 255, 255, 1);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid rgba(166, 166, 166, 1)
}

.containerDateSelection {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding: 2%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: rgba(255, 255, 255, 1);
}

.containerPredefinedDateSelection {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: rgba(255, 255, 255, 1);
}

.button {
    border-color: rgba(166, 166, 166, 0.3);
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

.select:hover {
    cursor: pointer;
}

.option:hover {
    cursor: pointer;
}

.dateInput:hover {
    cursor: pointer;
}

.rowDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.rowDisplayApplyFilters {
    border-radius: 7px;
    margin-top: 2%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    background: rgba(61, 61, 61, 0.7);
}

.containerApplyFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    padding: 2%;
    border-radius: 7px;
    /*background: rgba(255, 255, 255, 1);*/
    width: 100%;
}
